@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

body {
	@apply text-black;
	font-family: Arial, Helvetica, sans-serif;
}

.light {
	@apply text-black;
}

.dark {
	@apply text-white;
}

h2 {
	font-size: 1.5rem;
	font-weight: 500;
}

#nav {
	@apply text-black;
}
